
SamyuktaManabSoftwares/GrocerySupplyManagementApp/bin
SamyuktaManabSoftwares/.vs/SamyuktaManabSoftwares/v16/TestStore/0/000.testlog
SamyuktaManabSoftwares/.vs/SamyuktaManabSoftwares/v16/.suo
SamyuktaManabSoftwares/.vs/SamyuktaManabSoftwares/config/applicationhost.config
SamyuktaManabSoftwares/.vs/SamyuktaManabSoftwares/v16/TestStore/0/testlog.manifest
/SamyuktaManabSoftwares/packages
/.vs/SamyuktaManabSoftwares/v16
TestWindowsApp/.vs/TestWindowsApp/v16/.suo
SamyuktaManabSoftwares/.vs/SamyuktaManabSoftwares/v16/TestStore/0/124.testlog
*.testlog
