USE [GrocerySupplyManagement]
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 10/16/2021 10:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EndOfDay] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[AccountNo] [nvarchar](50) NOT NULL,
	[AddedBy] [nvarchar](50) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_BankDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankTransaction]    Script Date: 10/16/2021 10:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankTransaction](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EndOfDay] [nvarchar](50) NOT NULL,
	[BankId] [bigint] NOT NULL,
	[TransactionId] [bigint] NULL,
	[Action] [char](1) NOT NULL,
	[Debit] [decimal](18, 2) NOT NULL,
	[Credit] [decimal](18, 2) NOT NULL,
	[Narration] [nvarchar](500) NOT NULL,
	[AddedBy] [nvarchar](50) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_BankTransaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyInfo]    Script Date: 10/16/2021 10:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyInfo](
	[Name] [nvarchar](500) NOT NULL,
	[ShortName] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[ContactNo] [bigint] NULL,
	[EmailId] [nvarchar](100) NULL,
	[Website] [nvarchar](500) NULL,
	[FacebookPage] [nvarchar](500) NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[RegistrationDate] [nvarchar](50) NULL,
	[PanVatNo] [nvarchar](50) NULL,
	[LogoPath] [nvarchar](500) NULL,
	[AddedBy] [nvarchar](50) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10/16/2021 10:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EndOfDay] [nvarchar](50) NOT NULL,
	[Counter] [bigint] NOT NULL,
	[EmployeeId] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[TempAddress] [nvarchar](500) NULL,
	[PermAddress] [nvarchar](500) NULL,
	[ContactNo] [bigint] NULL,
	[Email] [nvarchar](500) NULL,
	[CitizenshipNo] [nvarchar](50) NULL,
	[Education] [nvarchar](50) NULL,
	[DateOfBirth] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[BloodGroup] [nvarchar](50) NULL,
	[FatherName] [nvarchar](500) NULL,
	[MotherName] [nvarchar](500) NULL,
	[Gender] [nvarchar](50) NULL,
	[MaritalStatus] [nvarchar](50) NULL,
	[SpouseName] [nvarchar](500) NULL,
	[Post] [nvarchar](50) NULL,
	[PostStatus] [nvarchar](50) NULL,
	[AppointedDate] [nvarchar](50) NULL,
	[ResignedDate] [nvarchar](50) NULL,
	[ImagePath] [nvarchar](max) NULL,
	[AddedBy] [nvarchar](50) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EndOfDay]    Script Date: 10/16/2021 10:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EndOfDay](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DateInAd] [date] NOT NULL,
	[DateInBs] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MappedDate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 10/16/2021 10:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EndOfDay] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Brand] [nvarchar](250) NULL,
	[Unit] [nvarchar](25) NOT NULL,
	[Threshold] [int] NOT NULL,
	[AddedBy] [nvarchar](50) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Item_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemCategory]    Script Date: 10/16/2021 10:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemCategory](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EndOfDay] [nvarchar](50) NOT NULL,
	[Counter] [bigint] NOT NULL,
	[Name] [char](1) NOT NULL,
	[ItemCode] [nvarchar](50) NOT NULL,
	[AddedBy] [nvarchar](50) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_ItemCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 10/16/2021 10:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EndOfDay] [nvarchar](50) NOT NULL,
	[Counter] [bigint] NOT NULL,
	[MemberId] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[ContactNo] [bigint] NULL,
	[Email] [nvarchar](100) NULL,
	[AccountNo] [nvarchar](50) NULL,
	[ImagePath] [nvarchar](max) NULL,
	[AddedBy] [nvarchar](50) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSDetail]    Script Date: 10/16/2021 10:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSDetail](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EndOfDay] [nvarchar](50) NOT NULL,
	[InvoiceNo] [nvarchar](50) NOT NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[DiscountPercent] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[VatPercent] [decimal](18, 2) NOT NULL,
	[Vat] [decimal](18, 2) NOT NULL,
	[DeliveryChargePercent] [decimal](18, 2) NOT NULL,
	[DeliveryCharge] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_POSDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PricedItem]    Script Date: 10/16/2021 10:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PricedItem](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EndOfDay] [nvarchar](50) NOT NULL,
	[ItemId] [bigint] NOT NULL,
	[SubCode] [nvarchar](50) NOT NULL,
	[Volume] [bigint] NOT NULL,
	[ProfitPercent] [decimal](18, 2) NOT NULL,
	[Profit] [decimal](18, 2) NOT NULL,
	[SalesPricePerUnit] [decimal](18, 2) NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
	[AddedBy] [nvarchar](50) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_ItemManagement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchasedItem]    Script Date: 10/16/2021 10:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchasedItem](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EndOfDay] [nvarchar](50) NOT NULL,
	[SupplierId] [nvarchar](50) NOT NULL,
	[BillNo] [nvarchar](50) NOT NULL,
	[ItemId] [bigint] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[AddedBy] [nvarchar](50) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Setting]    Script Date: 10/16/2021 10:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StartingInvoiceNo] [nvarchar](50) NULL,
	[StartingBillNo] [nvarchar](50) NULL,
	[StartingDate] [nvarchar](50) NULL,
	[FiscalYear] [nvarchar](50) NULL,
	[Discount] [decimal](18, 2) NULL,
	[Vat] [decimal](18, 2) NULL,
	[DeliveryCharge] [decimal](18, 2) NULL,
	[AddedBy] [nvarchar](50) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Setting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShareMember]    Script Date: 10/16/2021 10:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShareMember](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EndOfDay] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[ContactNo] [bigint] NULL,
	[ImagePath] [nvarchar](max) NULL,
	[AddedBy] [nvarchar](50) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_ShareMember] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoldItem]    Script Date: 10/16/2021 10:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoldItem](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EndOfDay] [nvarchar](50) NOT NULL,
	[MemberId] [nvarchar](50) NOT NULL,
	[InvoiceNo] [nvarchar](50) NOT NULL,
	[ItemId] [bigint] NOT NULL,
	[Profit] [decimal](18, 2) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[Volume] [bigint] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[AddedBy] [nvarchar](50) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_PosTransaction_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockAdjustment]    Script Date: 10/16/2021 10:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockAdjustment](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EndOfDay] [nvarchar](50) NOT NULL,
	[UserTransactionId] [bigint] NOT NULL,
	[ItemId] [bigint] NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[AddedBy] [nvarchar](50) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_StockAdjustment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 10/16/2021 10:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EndOfDay] [nvarchar](50) NOT NULL,
	[Counter] [bigint] NOT NULL,
	[SupplierId] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Address] [nvarchar](250) NULL,
	[ContactNo] [bigint] NULL,
	[Email] [nvarchar](100) NULL,
	[Owner] [nvarchar](50) NULL,
	[AddedBy] [nvarchar](50) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/16/2021 10:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[IsReadOnly] [bit] NOT NULL,
	[Bank] [bit] NOT NULL,
	[DailySummary] [bit] NOT NULL,
	[DailyTransaction] [bit] NOT NULL,
	[Employee] [bit] NOT NULL,
	[EOD] [bit] NOT NULL,
	[ItemPricing] [bit] NOT NULL,
	[Member] [bit] NOT NULL,
	[POS] [bit] NOT NULL,
	[Reports] [bit] NOT NULL,
	[Settings] [bit] NOT NULL,
	[StockSummary] [bit] NOT NULL,
	[Supplier] [bit] NOT NULL,
	[AddedBy] [nvarchar](50) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTransaction]    Script Date: 10/16/2021 10:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTransaction](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EndOfDay] [nvarchar](50) NOT NULL,
	[InvoiceNo] [nvarchar](50) NULL,
	[BillNo] [nvarchar](50) NULL,
	[MemberId] [nvarchar](50) NULL,
	[ShareMemberId] [bigint] NULL,
	[SupplierId] [nvarchar](50) NULL,
	[DeliveryPersonId] [nvarchar](50) NULL,
	[Action] [nvarchar](50) NOT NULL,
	[ActionType] [nvarchar](50) NOT NULL,
	[Bank] [nvarchar](500) NULL,
	[Income] [nvarchar](500) NULL,
	[Expense] [nvarchar](50) NULL,
	[Narration] [nvarchar](500) NULL,
	[DueReceivedAmount] [decimal](18, 2) NOT NULL,
	[DuePaymentAmount] [decimal](18, 2) NOT NULL,
	[ReceivedAmount] [decimal](18, 2) NOT NULL,
	[PaymentAmount] [decimal](18, 2) NOT NULL,
	[AddedBy] [nvarchar](50) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_PosTransaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BankTransaction] ON 

INSERT [dbo].[BankTransaction] ([Id], [EndOfDay], [BankId], [TransactionId], [Action], [Debit], [Credit], [Narration], [AddedBy], [AddedDate], [UpdatedBy], [UpdatedDate]) VALUES (9, N'2078-01-01', 7, 0, N'1', CAST(100000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Owner Equity', N'bhai', CAST(N'2021-10-15T20:24:47.183' AS DateTime), NULL, NULL)
INSERT [dbo].[BankTransaction] ([Id], [EndOfDay], [BankId], [TransactionId], [Action], [Debit], [Credit], [Narration], [AddedBy], [AddedDate], [UpdatedBy], [UpdatedDate]) VALUES (10, N'2078-01-01', 7, 33, N'1', CAST(100000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Share Capital', N'bhai', CAST(N'2021-10-15T20:25:06.373' AS DateTime), NULL, NULL)
INSERT [dbo].[BankTransaction] ([Id], [EndOfDay], [BankId], [TransactionId], [Action], [Debit], [Credit], [Narration], [AddedBy], [AddedDate], [UpdatedBy], [UpdatedDate]) VALUES (11, N'2078-01-01', 7, 46, N'0', CAST(0.00 AS Decimal(18, 2)), CAST(77000.00 AS Decimal(18, 2)), N'S0004 - Shrestha Suppliers', N'bhai', CAST(N'2021-10-15T22:38:40.943' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[BankTransaction] OFF
INSERT [dbo].[CompanyInfo] ([Name], [ShortName], [Type], [Address], [ContactNo], [EmailId], [Website], [FacebookPage], [RegistrationNo], [RegistrationDate], [PanVatNo], [LogoPath], [AddedBy], [AddedDate], [UpdatedBy], [UpdatedDate]) VALUES (N'Samyukta Manab Grocery Management', N'SMGM', N'Grocery Suppliers', N'Nayabazar-16,Kathmandu', 4351920, N'samyukta.grocery@gmail.com', N'SamyuktaGrocery.com.np', N'Samyukta Grocery', N'8676-16', N'2078-06-07', N'600152485', N'D:\Images\Company\Samyukta Manab Grocery Management.jpg', N'bhai', CAST(N'2021-10-06T20:47:18.893' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[EndOfDay] ON 

INSERT [dbo].[EndOfDay] ([Id], [DateInAd], [DateInBs]) VALUES (1, CAST(N'2021-04-14' AS Date), N'2078-01-01')
INSERT [dbo].[EndOfDay] ([Id], [DateInAd], [DateInBs]) VALUES (2, CAST(N'2021-04-15' AS Date), N'2078-01-02')
INSERT [dbo].[EndOfDay] ([Id], [DateInAd], [DateInBs]) VALUES (3, CAST(N'2021-04-16' AS Date), N'2078-01-03')
GO
SET IDENTITY_INSERT [dbo].[EndOfDay] OFF
SET IDENTITY_INSERT [dbo].[PurchasedItem] ON 

INSERT [dbo].[PurchasedItem] ([Id], [EndOfDay], [SupplierId], [BillNo], [ItemId], [Quantity], [Price], [AddedBy], [AddedDate], [UpdatedBy], [UpdatedDate]) VALUES (31, N'2078-01-01', N'S0004', N'BN-01-0001', 28, CAST(500.00 AS Decimal(18, 2)), CAST(120.00 AS Decimal(18, 2)), N'bhai', CAST(N'2021-10-14T22:37:24.917' AS DateTime), NULL, NULL)
INSERT [dbo].[PurchasedItem] ([Id], [EndOfDay], [SupplierId], [BillNo], [ItemId], [Quantity], [Price], [AddedBy], [AddedDate], [UpdatedBy], [UpdatedDate]) VALUES (32, N'2078-01-01', N'S0004', N'BN-01-0001', 29, CAST(100.00 AS Decimal(18, 2)), CAST(170.00 AS Decimal(18, 2)), N'bhai', CAST(N'2021-10-14T22:37:33.097' AS DateTime), NULL, NULL)
INSERT [dbo].[PurchasedItem] ([Id], [EndOfDay], [SupplierId], [BillNo], [ItemId], [Quantity], [Price], [AddedBy], [AddedDate], [UpdatedBy], [UpdatedDate]) VALUES (50, N'2078-01-01', N'S0005', N'BN-01-0002', 30, CAST(12.00 AS Decimal(18, 2)), CAST(217.07 AS Decimal(18, 2)), N'bhai', CAST(N'2021-10-15T16:27:06.587' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[PurchasedItem] OFF
SET IDENTITY_INSERT [dbo].[Setting] ON 

INSERT [dbo].[Setting] ([Id], [StartingInvoiceNo], [StartingBillNo], [StartingDate], [FiscalYear], [Discount], [Vat], [DeliveryCharge], [AddedBy], [AddedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'IN-01-0001', N'BN-01-0001', N'2078-01-02', N'2078/079', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), N'bhai', CAST(N'2021-10-16T21:26:19.790' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Setting] OFF
SET IDENTITY_INSERT [dbo].[SoldItem] ON 

INSERT [dbo].[SoldItem] ([Id], [EndOfDay], [MemberId], [InvoiceNo], [ItemId], [Profit], [Unit], [Volume], [Quantity], [Price], [AddedBy], [AddedDate], [UpdatedBy], [UpdatedDate]) VALUES (8, N'2078-01-01', N'M0001', N'IN-01-0001', 28, CAST(240.00 AS Decimal(18, 2)), N'Kg', 20, CAST(1.00 AS Decimal(18, 2)), CAST(2640.00 AS Decimal(18, 2)), N'bhai', CAST(N'2021-10-14T22:38:13.590' AS DateTime), NULL, NULL)
INSERT [dbo].[SoldItem] ([Id], [EndOfDay], [MemberId], [InvoiceNo], [ItemId], [Profit], [Unit], [Volume], [Quantity], [Price], [AddedBy], [AddedDate], [UpdatedBy], [UpdatedDate]) VALUES (9, N'2078-01-01', N'M0001', N'IN-01-0001', 29, CAST(17.00 AS Decimal(18, 2)), N'Kg', 1, CAST(5.00 AS Decimal(18, 2)), CAST(187.00 AS Decimal(18, 2)), N'bhai', CAST(N'2021-10-14T22:38:30.297' AS DateTime), NULL, NULL)
INSERT [dbo].[SoldItem] ([Id], [EndOfDay], [MemberId], [InvoiceNo], [ItemId], [Profit], [Unit], [Volume], [Quantity], [Price], [AddedBy], [AddedDate], [UpdatedBy], [UpdatedDate]) VALUES (10, N'2078-01-01', N'M0007', N'IN-01-0002', 28, CAST(240.00 AS Decimal(18, 2)), N'Kg', 20, CAST(1.00 AS Decimal(18, 2)), CAST(2640.00 AS Decimal(18, 2)), N'bhai', CAST(N'2021-10-15T21:27:53.913' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[SoldItem] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Username], [Password], [Type], [IsReadOnly], [Bank], [DailySummary], [DailyTransaction], [Employee], [EOD], [ItemPricing], [Member], [POS], [Reports], [Settings], [StockSummary], [Supplier], [AddedBy], [AddedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'bhai', N'eNf7zWG696ciQbgd4+IkwQ==', N'Admin', 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, N'bhai', CAST(N'2021-08-13T20:00:32.177' AS DateTime), NULL, NULL)
INSERT [dbo].[User] ([Id], [Username], [Password], [Type], [IsReadOnly], [Bank], [DailySummary], [DailyTransaction], [Employee], [EOD], [ItemPricing], [Member], [POS], [Reports], [Settings], [StockSummary], [Supplier], [AddedBy], [AddedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'admin', N'9I19AePjNld8AL3LGpihWA==', N'Admin', 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, N'admin', CAST(N'2021-10-01T09:37:09.130' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserTransaction] ON 

SET IDENTITY_INSERT [dbo].[UserTransaction] OFF
ALTER TABLE [dbo].[BankTransaction] ADD  CONSTRAINT [DF_BankTransaction_Debit]  DEFAULT ((0.00)) FOR [Debit]
GO
ALTER TABLE [dbo].[BankTransaction] ADD  CONSTRAINT [DF_BankTransaction_Credit]  DEFAULT ((0.00)) FOR [Credit]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsReadOnly]  DEFAULT ((0)) FOR [IsReadOnly]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Bank]  DEFAULT ((0)) FOR [Bank]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_DailyExpense]  DEFAULT ((0)) FOR [DailySummary]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_DailySummary]  DEFAULT ((0)) FOR [DailyTransaction]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Employee]  DEFAULT ((0)) FOR [Employee]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_EOD]  DEFAULT ((0)) FOR [EOD]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_ItemPricing]  DEFAULT ((0)) FOR [ItemPricing]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Member]  DEFAULT ((0)) FOR [Member]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_POS]  DEFAULT ((0)) FOR [POS]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Report]  DEFAULT ((0)) FOR [Reports]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Setting]  DEFAULT ((0)) FOR [Settings]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Stock]  DEFAULT ((0)) FOR [StockSummary]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Supplier]  DEFAULT ((0)) FOR [Supplier]
GO
ALTER TABLE [dbo].[UserTransaction] ADD  CONSTRAINT [DF_UserTransaction_DueReceivedAmount]  DEFAULT ((0.00)) FOR [DueReceivedAmount]
GO
ALTER TABLE [dbo].[UserTransaction] ADD  CONSTRAINT [DF_UserTransaction_DuePaymentAmount]  DEFAULT ((0.00)) FOR [DuePaymentAmount]
GO
ALTER TABLE [dbo].[UserTransaction] ADD  CONSTRAINT [DF_UserTransaction_ReceivedAmount]  DEFAULT ((0.00)) FOR [ReceivedAmount]
GO
ALTER TABLE [dbo].[UserTransaction] ADD  CONSTRAINT [DF_UserTransaction_PaymentAmount]  DEFAULT ((0.00)) FOR [PaymentAmount]
GO
